
.hello__container{
    position: relative;
    margin-top: 209px;
    min-height: 194px;     
}
.hello__title{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 21px;
    width: 637px; 

}
.hello__text{
    font-size: 21px;
    margin-bottom: 76px;
}
.button{
    display: block;
	text-transform: uppercase;
	text-decoration: none;
    line-height: 19px;
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 0;
	width: 135px;
	color: #fff;
	text-align: center;
}